$calendar_applet_color: white;
$grouped_window_list_fg: white;
$grouped_window_list_focus_fg: white;
$menu_applet_color: white;
$menu_application_button_fg: white;
$menu_application_button_selected_bg: #3e9de8;
$menu_application_button_selected_fg: white;
$menu_applications_box_bg: #2e75ad;
$menu_applications_inner_box_bg: #2e75ad;
$menu_applications_inner_box_border: #0e558d;
$menu_applications_inner_box_popup_menu_item_fg: white;
$menu_applications_inner_box_popup_menu_item_hover_bg: #3e9de8;
$menu_applications_inner_box_popup_menu_item_hover_fg: white;
$menu_categories_box_border: #95bdee;
$menu_category_button_fg: white;
$menu_category_button_selected_bg: #3e9de8;
$menu_category_button_selected_fg: white;
$menu_favorites_button_hover_bg: #3e9de8;
$menu_favourites_box_bg: #013c6b;
$menu_favourites_box_border: #0e558d;
$menu_selected_app_box_bg: #013c6b;
$menu_selected_app_box_border: #0e558d;
$menu_selected_app_box_fg: white;
$panel_center_color: white;
$panel_color_fg: black;
$panel_launcher_border_color: rgba(5, 42, 80 , 0.7);
$panel_launcher_gradient_end: rgba(0, 27, 58, 0.5);
$panel_launcher_gradient_start: rgba(5, 42, 80 , 0.2);
$panel_left_color: white;
$panel_right_color: white;
$popup_inactive_menu_item_fg: white;
$popup_menu_content_bg: #2e75ad;
$popup_menu_content_border: #0e558d;
$popup_menu_context_fg: white;
$popup_menu_item_fg: white;
$popup_menu_item_hover_bg: #3e9de8;
$popup_menu_item_hover_fg: white;
$popup_separator_menu_item_bg: #0e558d;
$popup_slider_menu_item_color: #68A941;
$popup_sub_menu_color: #A4D07B;
$popup_submenu_menu_item_open_bg: #3e9de8;
$popup_submenu_menu_item_open_fg: white;
$sound_player_overlay_bg: #013c6b;
$sound_player_overlay_fg: white;