@mixin calendar() {
/* ===================================================================
 * Date applet (calendar@cinnamon.org/calendar.js)
 * ===================================================================*/

 .calendar-main-box {
    /*& StBoxLayout:last-child {
        border: 1px solid #002d96;
        background-gradient-direction: vertical;
        background-gradient-start: #5987d6;
        background-gradient-end: #033894;
    }*/
}

.calendar-background {
    border-radius: 6px;
    border-width: 1px;
    border-color: white;
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: #1d4d9c;
    background-gradient-end: #5c89c9;

    & CinnamonGenericContainer.popup-menu-item:last-child {
        color: white;
        &:hover {
            background-gradient-direction: vertical;
            background-gradient-start: #A4D07B;
            background-gradient-end: #68A941;
        }
    }

    & StDrawingArea.popup-separator-menu-item {
        background-color: white;
        //box-shadow: 0 1px white;
        height: 1px;
    }
}

.calendar-cinnamon-org-applet .applet-label {
    color: $calendar_applet_color;

}

.calendar {
    spacing-rows: 0px;
    spacing-columns: 0px;
    border-width: 1px;
    border-color: #002d96;
    margin: 0px;
    padding:2px;
    background-color: white;

    & StBoxLayout {
        background-color: #9ebef5;
    }
}


.calendar-events-main-box {
  margin: 0px 10px 0px 0px;
  height: 300px;
  min-width: 350px;

  padding: 10px;
  border: 1px solid #002d96;
    background-color: #fff4bc;

  & .separator {
   background: unset;
  }
}

.calendar-events-no-events-box {
}

.calendar-events-no-events-button {
    color: #cccccc;
    padding: 7px;
}

.calendar-events-no-events-button:hover:active {
}

.calendar-events-no-events-button:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(90, 90, 90, 0.5);
    background-gradient-end: rgba(70, 70, 70, 0.5);
    box-shadow: inset 0px 0px 1px 1px rgba(120, 120, 120, 1);
    border-radius: 4px;
}

.calendar-events-no-events-icon {
    color: black;
}

.calendar-events-no-events-label {
    font-weight: bold;
    text-align: center;
    color: black;
}

.calendar-events-date-label {
  padding: .1em .1em .5em .1em;
  font-weight: bold;
  text-align: center;
  color:black;
}



.calendar-events-event-container {
    padding:  0;
}

.calendar-event-button {
    margin: 7px;
    background-color: white;
    border: 1px solid black;
    &:hover {
        box-shadow: inset 0px 0px 1px 1px rgba(120, 120, 120, 1);
    }
}

.calendar-event-row-content {
    padding: 7px;
    margin: 2px 7px 2px 7px;
}

.calendar-event-time-past {
    color: grey;
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em;
}
.calendar-event-time-present {
    color: black;
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em;
}

.calendar-event-time-present:all-day {
    color: rgba(0, 170, 0, 0.6);
}

.calendar-event-time-future {
    color: black;
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em;
}

.calendar-event-summary {
    color: black;
    text-align: left;
    width: 200px;
    padding-bottom: 2px;
}

.calendar-event-countdown {
    text-align: right;
    margin-bottom: .6em;
}

.calendar-event-countdown:soon {
      font-weight: bold;
}

.calendar-event-countdown:imminent {
      font-weight: bold;
      color: #d2aa1e;
}

.calendar-event-countdown:current {
      font-weight: bold;
    color: rgba(0,255,0,0.6);
}

.calendar-event-button:hover .calendar-event-time-past,
.calendar-event-button:hover .calendar-event-time-present,
.calendar-event-button:hover .calendar-event-time-future,
.calendar-event-button:hover .calendar-event-summary,
.calendar-event-button:hover .calendar-event-countdown,
.calendar-event-button:hover .calendar-event-countdown:soon,
.calendar-event-button:hover .calendar-event-countdown:imminent,
.calendar-event-button:hover .calendar-event-countdown:current {
}

.calendar-event-color-strip {
  width: 4px;
  border-width: 1px;
  border-radius: 4px 0 0 4px;
}


.calendar-month-label {
    color: black;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;

}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("assets/calendar-arrow-left.svg");
    border-radius: 4px;
    border: none;


    &:rtl {
        background-image: url("assets/calendar-arrow-right.svg");
    }
    
    &:hover {
        background-color: #B5E089;
        border: none;
    }
    
    &:active {
        background-color: #79B94D;
        border:none;
    }

}


.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("assets/calendar-arrow-right.svg");
    border-radius: 4px;
    border: none;


    &:rtl {
        background-image: url("assets/calendar-arrow-left.svg");
    }
    
    &:hover {
        background-color: #B5E089;
        border: none;
    }
    
    &:active {
        background-color: #79B94D;
        border:none;
    }
}


.calendar-today-home-button,
.calendar-today-home-button-enabled {
    padding: 7px;
    margin-top: 15px;
    color: #002d96;
}

.calendar-today-home-button-enabled:hover {
    padding: 7px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(181, 224, 137, 0.8);
    background-gradient-end: rgba(121, 185, 77, 0.8);
    //box-shadow: inset 0px 0px 1px 1px rgba(120, 120, 120, 1);
    border-radius: 4px;
}

.calendar-today-day-label {
    color: white;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    padding-bottom: .1em;
}

.calendar-today-date-label {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    
}

.calendar-day-event-dot-box {
  margin-top: 1.7em;
  max-rows: 1;
}

.calendar-day-event-dot {
  margin: 1px;
  border-radius: 2px;
  width: 4px;
  height: 4px;
}

.calendar-day-base {
    font-size: 1em;
    text-align: center;
    align-items: center;
    width: 2.4em;
    height: 2.4em;

    &:hover {
        background-color: #79B94D;
        color: #fff;
    }
    
    &:active {
    }
}


.calendar-day-heading {
    color: black;
    padding-top: 1em;
}

.calendar-week-number {
    color: black;
    font-weight: bold;
    font-size: 1em;
    align-items: center;
    align-self: center;
    align-content: center;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    //border: 1px solid rgba(90, 90, 90, 1);
    color: black;
    border-top-width: 0;
    border-left-width: 0;
}

.calendar-day-top {
    border-top-width: 1px;
}

.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {
    background-color: rgba(128, 128, 128, 0.2);
}

.calendar-today {
    text-shadow: black 0px 2px 2px;
    color: #ffffff;
    background-gradient-direction: vertical;
    background-gradient-start: #B5E089;
    background-gradient-end: #79B94D;
    box-shadow: inset 0px 0px 0px 1px rgba(120, 120, 120, 1);
    
    &:selected {
        font-weight: bold;
    }
}


.calendar-other-month-day {
    color: #888888;
}

.calendar-not-today:selected {
    background-color: #B5E089;
    color: #fff;
    font-weight: bold;

    &:hover {
        background-color: #79B94D;
    }

}
}