@mixin calendar() {
/* ===================================================================
 * Date applet (calendar@cinnamon.org/calendar.js)
 * ===================================================================*/

 .calendar-main-box {
    /*& StBoxLayout:last-child {
        border: 1px solid #002d96;
        background-gradient-direction: vertical;
        background-gradient-start: #5987d6;
        background-gradient-end: #033894;
    }*/
}

.calendar-background {
    /*border-radius: 6px;
    border-width: 1px;
    border-color: white;
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: #1d4d9c;
    background-gradient-end: #5c89c9;

    & CinnamonGenericContainer.popup-menu-item:last-child {
        color: white;
        &:hover {
            background-gradient-direction: vertical;
            background-gradient-start: #A4D07B;
            background-gradient-end: #68A941;
        }
    }

    & StDrawingArea.popup-separator-menu-item {
        background-color: white;
        //box-shadow: 0 1px white;
        height: 1px;
    }*/
}

.calendar-cinnamon-org-applet .applet-label {
    color: $calendar_applet_color;

}

.calendar {
    background-color: $calendar_bg;
    color: $calendar_fg;
    border: 1px solid $calendar_border;
    /*spacing-rows: 0px;
    spacing-columns: 0px;
    border-width: 1px;
    border-color: #002d96;
    margin: 0px;
    padding:2px;
    background-color: white;*/

    & StBoxLayout {
        background-color: #9ebef5;
    }
}


.calendar-events-main-box {
  //margin: 0px 10px 0px 0px;
  min-height: 300px;
  min-width: 350px;

  padding: 6px;
  border: 1px solid $calendar_events_main_box_border;
  background-color: $calendar_events_main_box_bg;
  color: $calendar_events_main_box_fg;

  margin: 0 6px 0 0;
}

.calendar-events-no-events-box {
}

.calendar-events-no-events-button {
    //color: #cccccc;
    //padding: 7px;
}

.calendar-events-no-events-button:hover:active {
}

.calendar-events-no-events-button:hover {
    /*background-gradient-direction: vertical;
    background-gradient-start: rgba(90, 90, 90, 0.5);
    background-gradient-end: rgba(70, 70, 70, 0.5);*/
    //box-shadow: inset 0px 0px 1px 1px rgba(120, 120, 120, 1);
    //border-radius: 4px;
}

.calendar-events-no-events-icon {
    //color: black;
}

.calendar-events-no-events-label {
    //font-weight: bold;
    //text-align: center;
    //color: black;
}

.calendar-events-date-label {
  //padding: .1em .1em .5em .1em;
  //font-weight: bold;
  //text-align: center;
  //color:black;
}



.calendar-events-event-container {
    //padding:  0;
}

.calendar-event-button {
    background-color: $calendar_event_button_bg;
    border: 1px solid $calendar_event_button_border;
    color: $calendar_event_button_fg;
    &:hover {
        box-shadow: inset 0px 0px 1px 1px rgba(120, 120, 120, 1);
    }
}

.calendar-event-row-content {
    //padding: 7px;
    //margin: 2px 7px 2px 7px;
}

.calendar-event-time-past {
    color: $calendar_event_time_past_fg;
    //font-weight: bold;
    //text-align: left;
    //margin-bottom: .2em;
}
.calendar-event-time-present {
    color: $calendar_event_time_present_fg;
    font-weight: bold;
    //text-align: left;
    //margin-bottom: .2em;
}

.calendar-event-time-present:all-day {
    //color: rgba(0, 170, 0, 0.6);
}

.calendar-event-time-future {
    color: $calendar_event_time_future_fg;
    //text-align: left;
    //margin-bottom: .2em;
}

.calendar-event-summary {
    color: $calendar_event_summary_fg;
    //text-align: left;
    //width: 200px;
    //padding-bottom: 2px;
}

.calendar-event-countdown {
    font-weight: bold;
    color: $calendar_event_countdown_fg;
}

.calendar-event-countdown:soon {
    font-weight: bold;
    color: $calendar_event_countdown_soon_fg;
}

.calendar-event-countdown:imminent {
    font-weight: bold;
    color: $calendar_event_countdown_imminent_fg;
}

.calendar-event-countdown:current {
    font-weight: bold;
    color: $calendar_event_countdown_current_fg;
}

.calendar-event-button:hover .calendar-event-time-past,
.calendar-event-button:hover .calendar-event-time-present,
.calendar-event-button:hover .calendar-event-time-future,
.calendar-event-button:hover .calendar-event-summary,
.calendar-event-button:hover .calendar-event-countdown,
.calendar-event-button:hover .calendar-event-countdown:soon,
.calendar-event-button:hover .calendar-event-countdown:imminent,
.calendar-event-button:hover .calendar-event-countdown:current {
}

.calendar-event-color-strip {
  //width: 4px;
  //border-width: 1px;
  //border-radius: 4px 0 0 4px;
}


.calendar-month-label {
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;

}

.calendar-change-month-back {
    width: 22px;
    height: 22px;
    background-image: url("assets/calendar-arrow-left.svg");
    background-size: contain;
    border-radius: 4px;
    border: none;
    margin: 0 3px 0 3px;

    &:rtl {
        background-image: url("assets/calendar-arrow-right.svg");
    }

}


.calendar-change-month-forward {
    width: 22px;
    height: 22px;
    background-image: url("assets/calendar-arrow-right.svg");
    background-size: contain;
    border-radius: 4px;

    margin: 0 3px 0 3px;

    &:rtl {
        background-image: url("assets/calendar-arrow-left.svg");
    }

}


.calendar-today-home-button,
.calendar-today-home-button-enabled {
    padding: 7px;
    margin-top: 15px;
    
    color: $calendar_today_home_button_fg;
}

.calendar-today-home-button-enabled:hover {
    padding: 7px;
    /*background-gradient-direction: vertical;
    background-gradient-start: rgba(181, 224, 137, 0.8);
    background-gradient-end: rgba(121, 185, 77, 0.8);*/
    //box-shadow: inset 0px 0px 1px 1px rgba(120, 120, 120, 1);
    border-radius: 4px;
}

.calendar-today-day-label {
    //color: white;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    padding-bottom: .1em;
}

.calendar-today-date-label {
    //color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    
}

.calendar-day-event-dot-box {
  margin-top: 1.7em;
  max-rows: 1;
  align-content: center;
}

.calendar-day-event-dot {
  margin: 5px 1px 0 1px;
  border-radius: 2px;
  width: 5px;
  height: 5px;
  
}

.calendar-day-base {
    width: 2.5em; 
    height: 2em; 
    padding: 2px; 

    color: $calendar_day_base_fg;
    background-color: $calendar_day_base_bg;

    &:hover {
        color: $calendar_day_base_hover_fg;
        background-color: $calendar_day_base_hover_bg;
    }
    
    &:active {
    }
}


.calendar-day-heading {
    padding-top: 1em;
    text-align: center;
    align-content: center;
    font-weight: bold; 

}

.calendar-week-number {
    width: 2.5em; 
    height: 2em; 
    margin: 2px; 
    padding: 0.75em 0 0; 
    background-color: transparent; 
    color: $calendar_week_number_fg;
    font-weight: bold; 
    font-size: inherit; 
    text-align: center;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border: 1px solid $calendar_day_border;
    
    //color: black;
    //border-top-width: 0;
    //border-left-width: 0;
}

.calendar-day-top {
    //border-top-width: 1px;
}

.calendar-day-left {
    //border-left-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {
    background-color: $calendar_nonwork_day_bg;
    
}

.calendar-today {
    /*outline-width: 1px;
    outline-style: solid;
    outline-color: $calendar_today_outline;*/
    background-color: white;
    border: 1px solid $calendar_today_border;
    //box-shadow: inset 0px 0px 0px 2px red;
    
    /*text-shadow: black 0px 2px 2px;
    color: #ffffff;
    background-gradient-direction: vertical;
    background-gradient-start: #B5E089;
    background-gradient-end: #79B94D;
    box-shadow: inset 0px 0px 0px 1px rgba(120, 120, 120, 1);*/
    
    &:selected {
        font-weight: bold;
        color: $calendar_today_selected_fg;
        background-color: $calendar_today_selected_bg;
        //box-shadow: inset 0px 0px 0px 2px red;
    }
}


.calendar-other-month-day {
    //background-color: purple;
    //color: yellow;
    border: 1px solid $calendar_other_month_day_border;
    color: $calendar_other_month_day_fg;
}

.calendar-not-today {

    &:selected {
        outline-width: 1px;
        outline-style: dashed;
        outline-color: $calendar_not_today_selected_outline;
        color: $calendar_not_today_selected_fg;
        background-color: $calendar_not_today_selected_bg;
        font-weight: bold;
    }
    /*background-color: #B5E089;
    color: #fff;
    font-weight: bold;

    &:hover {
        background-color: #79B94D;
    }*/

}
}