@mixin menu() {
    /* ===================================================================
  * Menu (menu.js)
  * ===================================================================*/
  
  /* Main menu title */


  .menu-background {
    margin: 0px;
    & .popup-menu-content {
      padding: 0px;
      margin: 0px;
      border-style: solid;
      border-color: transparent;
      border-image: url("assets/menu-border.png") 12 12 67 42;
      border-top-width: 67px;
      border-right-width: 2px;
      border-bottom-width: 42px;
      border-left-width: 2px;
      box-shadow: 8px 8px 2px -5px rgba(50,50,45,0.50);
    }
  }
  
  .menu-favorites-box {
    margin: 0;
    background-color: $menu_favourites_box_bg;
    border: 1px solid $menu_favourites_box_border;
    border-radius: 0px;
    padding: 0;
  }
  

  
  .menu-favorites-button {
    padding: 6px;
    border-radius: 0px;

    &:hover {
      background-color: $menu_favorites_button_hover_bg;
    }
    
  }
  
  
  .menu-places-box {
    margin: auto;
    padding: 1px;
    border: 1px solid #666;
  }
  
  .menu-places-button {
    padding: 1px;
  }
  
  .menu-categories-box {
    padding: 0px;
    border-right: 1px solid $menu_categories_box_border;
  }
  
  .menu-applications-box {
    padding: 0px;
    background-color: $menu_applications_box_bg;

    & StScrollBar {
      padding: 0px;
    }
    
    & StScrollView {
      border: 0px solid #305496;
      border-image: none;
      border-right-width: 0px;
    }
    
    
    & StBin#trough {
      background: none;
      border-width: 0px;
      box-shadow: none;
      border-image: url('assets/trough-scrollbar-vert.png') 1;
    }
    
    & StButton#vhandle {
      border-image: url('assets/slider-vert.png') 3;
      background: url('assets/handle-vert.png') no-repeat center center;
    }
    
    & StButton#vhandle:hover {
      border-image: url('assets/slider-vert-hover.png') 3;
      background: url('assets/handle-vert.png') no-repeat center center;
    }
  }
  
  .menu-applications-inner-box {
    padding: 0px;
    border-top: 0px solid $menu_applications_inner_box_border;
    border-right: 0px solid $menu_applications_inner_box_border;
    border-left: 1px solid $menu_applications_inner_box_border;
    background-color: $menu_applications_inner_box_bg;

    & .popup-menu-item {
      color: $menu_applications_inner_box_popup_menu_item_fg;
      &:hover {
        background-gradient-direction: none;
        color: $menu_applications_inner_box_popup_menu_item_hover_fg;
        background-color: $menu_applications_inner_box_popup_menu_item_hover_bg;
      }
    }
  }
  

  
  .menu-application-button {
    padding: 3px;
    margin: 1px 6px 1px 6px;
    color: $menu_application_button_fg;
  }
  
  .menu-application-button-selected {
    padding: 3px;
    margin: 1px 6px 1px 6px;
    color: $menu_application_button_selected_fg;
    background-color: $menu_application_button_selected_bg;
  }
  
  .menu-application-button-label:ltr {
    padding-left: 5px;
  }
  
  .menu-application-button-label:rtl {
    padding-right: 5px;
  }
  
  .menu-category-button {
    padding: 6px;
    margin: 1px 6px 1px 6px;
    color: $menu_category_button_fg;
  }
  
  .menu-category-button-greyed {
    padding: 6px;
    margin: 1px 6px 1px 6px;
    color: #808080;
  }
  
  .menu-category-button-selected {
    padding: 6px;
    margin: 1px 6px 1px 6px;
    color: $menu_category_button_selected_fg;
    background-color: $menu_category_button_selected_bg;
  }
  
  .menu-category-button-label:ltr {
    padding-left: 5px
  }
  
  .menu-category-button-label:rtl {
    padding-right: 5px
  }
  
  /* Name and description of the currently hovered item in the menu
  * This appears on the bottom right hand corner of the menu*/
  
  .menu-selected-app-box {
    padding-top: 16px;
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
    color: $menu_selected_app_box_fg;
    background-color: $menu_selected_app_box_bg;
    border-top: 1px solid $menu_selected_app_box_border;
  }
  
  .menu-selected-app-title {
    font-weight: bold;
  }
  
  .menu-selected-app-description {
    max-width: 150px;
  }

  .menu-search-box {
    padding: 0px;
    margin: 0px;
  }


  #menu-search-entry, 
  #menu-search-entry:hover,
  #menu-search-entry:focus {
    padding: 6px;
    color: black;
    background-color: #ffffff;
    selected-color: #ffffff;
    selection-background-color: #316ac5;
    border: 1px solid gray;
  }
  
  .menu-search-entry-icon {
    icon-size: 1em;
  }
  
  /* Context menu (at the moment only for favorites) */
  .menu-context-menu {
  }  
}