@mixin panel_launcher() {
/* ===================================================================
 * Panel Launchers applet (panel-launchers@cinnamon.org/applet.js)
 * ===================================================================*/
 .panel-launchers {
    spacing: 2px;
  }

  .panel-launchers .launcher {
    padding-left: 1px;
    padding-right: 1px;
    border: 0 solid transparent;
    border-bottom-width: 1px;
  }

  .panel-launchers .launcher:hover {
    background-gradient-direction: vertical;
    background-gradient-start: $panel_launcher_gradient_start;
    background-gradient-end: $panel_launcher_gradient_end;
    border-color: $panel_launcher_border_color;
  }
  
  .panel-launcher {
    //margin: 1px;//
    //padding: 3px;//
  }
  
  .panel-launcher:hover {
    background-color: rgba(0,0,0,0.5);
  }
  
  .panel-launcher-add-dialog-content-box {
    padding: 6px;
    spacing: 20px;
  }
  
  .panel-launcher-add-dialog-content-box-left {
    padding: 6px;
    spacing: 20px;
  }
  
  .panel-launcher-add-dialog-content-box-right {
    padding: 6px;
    spacing: 10px;
  }
  
  .panel-launcher-add-dialog-entry {
    padding: 5px;
    border-radius: 4px;
    color: rgb(50, 50, 50);
    border: 1px solid rgba(245,245,245,0.2);
    background-gradient-start: rgba(200,200,200,0.5);
    background-gradient-end: rgba(254,254,254,0.5);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
  }
  
  .panel-launcher-add-dialog-entry:focus,
  .panel-launcher-add-dialog-entry:hover {
    border: 1px solid rgba(120,120,120,1);
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
  }
  
  .panel-launcher-add-dialog-entry:hover {
    transition-duration: 300;
  }
  
  .panel-launcher-add-dialog-entry:focus {
    color: rgb(64, 64, 64);
    font-weight: bold;
    transition-duration: 0;
  }
}