@mixin panel() {
 /* ===================================================================
  * Panel (panel.js)
  * ===================================================================*/

  #panel {
    color: $panel_color_fg;
    //background-color: #013c6b;//
    //font-size: 9pt;//
    //font-weight: normal;//
    //height: 30px;//
    
    &.panel-top {
      background-repeat: repeat;
      background-image: url('assets/panelmiddle-top.png');
      background-size: contain;
    }
    &.panel-right {
      background-repeat: repeat;
      background-image: url('assets/panelmiddle-right.png');
      background-size: contain;
    }
    &.panel-bottom {
      background-repeat: repeat;
      background-image: url('assets/panelmiddle-bottom.png');
      background-size: contain;
    }
    &.panel-left {
      background-repeat: repeat;
      background-image: url('assets/panelmiddle-left.png');
      background-size: contain;
    }


  }
  

  
  #panelLeft {
    color: $panel_left_color;
  
    //spacing: 4px;//

    &:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(255,0,0,0.05);
      background-gradient-end: rgba(255,0,0,0.4);
    }
    &:ltr {
      //padding-right: 4px;//
    }
    
    &:rtl {
      //padding-left: 4px;//
    }
    /*
    * Ideally, I'd use background-image for this.
    * However, it doesn't work because background-size is bugged and 100% 100% doesn't work
    */
    
    *.panel-top & .applet-box:first-child {
      border-image: url('assets/panelmenu-top-box.png') 7 0 0 0;
      padding-left: 8px;
      min-width: 90px;
      &:hover {
        border-image: url('assets/panelmenu-top-hover.png') 7 0 0 0;
      }
      &:active {
        border-image: url('assets/panelmenu-top-active.png') 7 0 0 0;
      }
    }
    
  /*
  * For some reason, borders don't stretch properly when the panel is below 41px
  */

    *.panel-right & .applet-box:first-child {
      border-image: url('assets/panelmenu-right-box.png') 7 0 0 0;
      padding: 8px 0 8px 0;
      &:hover {
        border-image: url('assets/panelmenu-right-hover.png') 7 0 0 0;
      }
      &:active {
        border-image: url('assets/panelmenu-right-active.png') 7 0 0 0; 
      }
    }
    
    *.panel-bottom & .applet-box:first-child {
      border-image: url('assets/panelmenu-bottom-box.png') 7 0 0 0;
      padding-left: 8px;
      min-width: 90px;
      &:hover {
        border-image: url('assets/panelmenu-bottom-hover.png') 7 0 0 0;
      }
      &:active {
        border-image: url('assets/panelmenu-bottom-active.png') 7 0 0 0;
      }
    }
    *.panel-left & .applet-box:first-child {
      border-image: url('assets/panelmenu-left-box.png') 0 0 1 0;
      padding: 8px 0 8px 0;
      &:hover {
        border-image: url('assets/panelmenu-left-hover.png') 0 0 1 0;
      }
      &:active {
        border-image: url('assets/panelmenu-left-active.png') 0 0 1 0;
      }
    }

    & .applet-box:first-child {
      //border-image: url('assets/menu-box.png') 7 0 0 0;//
      //border-right-width: 10px;//
      text-shadow: black 0px 1px 1px;
      font-size: 12pt;
      font-style: italic;
      font-weight: bold;
      font-family: tahoma;
      //padding-right: 15px;//
    }
  }
  
  #panelCenter {
    color: $panel_center_color;
    //spacing: 40px;//

    &:dnd {//Estos son los que se usan cuando se esta editando
      background-gradient-direction: vertical;
      background-gradient-start: rgba(0,255,0,0.05);
      background-gradient-end: rgba(0,255,0,0.4);
    }
  }
  
  #panelRight{
    color: $panel_right_color;

    
    *.panel-top & {
      border-image: url('assets/panelend-top.png') 30 0 0 0;
    }
    
    *.panel-right & {
      border-image: url('assets/panelend-right.png') 0 0 30 0;
    }
    
    *.panel-bottom & {
      border-image: url('assets/panelend-bottom.png') 30 0 0 0;
    }

    *.panel-left & {
      border-image: url('assets/panelend-left.png') 0 0 30 0;
    }

    
    &:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(0,0,255,0.05);
      background-gradient-end: rgba(0,0,255,0.4);
    }
    
    &:ltr {
      padding-left: 0px;
      spacing: 0px;
    }
    
    &:rtl {
      padding-right: 0px;
      spacing: 0px;
    }
  }
  

  
  
  .panel-top {
  }
  
  .panel-bottom {
  }
  
  .panel-status-button,
  .panel-button {
    -natural-hpadding: 5px;
    -minimum-hpadding: 5px;
    font-weight: bold;
    border: 1px solid transparent;
    transition-duration: 150;
  }
  
  .panel-status-button:hover,
  .panel-button:hover {
    background-color: rgba(25,25,25,0.1);
    border-radius: 0px;
    transition-duration: 100;
  }
  
  .panel-status-button:active {
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(30,30,30,1);
    background-gradient-end: rgba(50,50,50,1);
  }

  .panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
  }
  
  .panel-button:active #appMenuIcon,
  .panel-button:checked #appMenuIcon,
  .panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
  }
  
  .panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: bold;
    color: rgba(200,200,200,1);
    transition-duration: 100;
  }
  
  .panel-button:hover {
    color: white;
  }
  
  .panel-button:active,
  .panel-button:overview,
  .panel-button:focus {
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(30,30,30,1);
    background-gradient-end: rgba(50,50,50,1);
  }
  
  .panel-button:active > .system-status-icon,
  .panel-button:checked > .system-status-icon,
  .panel-button:focus > .system-status-icon {
    icon-shadow: black 0px 2px 2px;
  }
}