@mixin popup() {
  /* ===================================================================
  * PopupMenu (popupMenu.js)
  * ===================================================================*/
  
  .popup-menu-boxpointer {
    -arrow-border-radius: 16px;
    -boxpointer-gap: -1px;
    -arrow-base: 40px;
  }
  
    /* Cinnamon 3.2 fix */
  /*.popup-menu {
  
    border: solid 1px #aca899;
    background-color: rgba(255, 255, 255, 1);
  
    color: #000;
    font-size: 9pt;
    box-shadow: 8px 8px 2px -5px rgba(50,50,45,0.50);
  }*/

  .menu {
    margin: 8px;
    
  }

  .popup-submenu-menu-item {
    margin: 0px 6px 0px 6px;
    
    &:open {
      color: $popup_submenu_menu_item_open_fg;
      background-color: $popup_submenu_menu_item_open_bg;
    }
  }

  .popup-sub-menu {
    margin: 0px 6px 0px 6px;
    //background-color: $popup_sub_menu_color;
    //padding: 1px;
    & .popup-menu-item:ltr {
      padding-right: 0em;
    }
    & .popup-menu-item:rtl {
      padding-left: 0em;
    }
    & StScrollBar {
      padding: 4px;
    }
    & StScrollBar StBin#trough {
      border-width: 0px;
    }
    & StScrollBar StBin#vhandle {
      background-color: #4c4c4c;
      border-width: 0px;
    }
  }
  /* The remaining popup-menu sizing is all done in ems, so that if you
  * override .popup-menu.font-size, everything else will scale with it.
  */
  .popup-menu-content {
    padding: 1em 0;
    border-style: solid;
    border-width: 2px;
    border-color: $popup_menu_content_border;
    border-radius: 6px;
    background-color: $popup_menu_content_bg;
    //box-shadow: 0px 8px 24px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.6);
    color: $popup_menu_context_fg;
  }
  
  .popup-menu-item {
    padding: .4em 1.75em;
    margin: 0px 6px 0px 6px;
    color: $popup_menu_item_fg;
    &:active {
      background-color: #1466c9;
    }
    &:hover {
      background-color: $popup_menu_item_hover_bg;
      color: $popup_menu_item_hover_fg;
    }
    &:insensitive {
      color: #9f9f9f;
    }
  }
  .popup-image-menu-item {
  }
  .popup-combobox-item {
    spacing: 1em;
  }
  .popup-separator-menu-item {
    background-color: $popup_separator_menu_item_bg;
    height: 1px;
  }
  .popup-alternating-menu-item:alternate {
    font-weight: bold;
  }
  .popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #666666;
    -slider-border-color: #555555;
    -slider-active-background-color: $popup_slider_menu_item_color;
    -slider-active-border-color: #DDDDDD;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
  }
  .popup-device-menu-item {
    spacing: .5em;
  }
  .popup-inactive-menu-item {
    font-weight: bold;
    color: $popup_inactive_menu_item_fg;
  }
  .popup-subtitle-menu-item {
    font-weight: bold;
  }
  .popup-menu-icon {
    icon-size: 1.14em;
  }

}