@mixin popup() {
  /* ===================================================================
  * PopupMenu (popupMenu.js)
  * ===================================================================*/
  
  .popup-menu-boxpointer {
    -arrow-border-radius: 16px;
    -boxpointer-gap: -1px;
    -arrow-base: 40px;
  }
  
    /* Cinnamon 3.2 fix */
  /*.popup-menu {
  
    border: solid 1px #aca899;
    background-color: rgba(255, 255, 255, 1);
  
    color: #000;
    font-size: 9pt;
    box-shadow: 8px 8px 2px -5px rgba(50,50,45,0.50);
  }*/

  .menu {
    margin: 5px;
  }

  .popup-submenu-menu-item {
    &:open {
      background-color: $popup_submenu_menu_item_open;
    }
  }

  .popup-sub-menu {
    background-color: $popup_sub_menu_color;
    //padding: 1px;
    & .popup-menu-item:ltr {
      padding-right: 0em;
    }
    & .popup-menu-item:rtl {
      padding-left: 0em;
    }
    & StScrollBar {
      padding: 4px;
    }
    & StScrollBar StBin#trough {
      border-width: 0px;
    }
    & StScrollBar StBin#vhandle {
      background-color: #4c4c4c;
      border-width: 0px;
    }
  }
  /* The remaining popup-menu sizing is all done in ems, so that if you
  * override .popup-menu.font-size, everything else will scale with it.
  */
  .popup-menu-content {
    padding: 1em 0;
    border-style: solid;
    border-width: 1px;
    border-color: $popup_menu_content_border_color;
    border-radius: 6px;
    background-gradient-direction: vertical;
    background-gradient-start: $popup_menu_content_gradient_start;//#1d4d9c;
    background-gradient-end: $popup_menu_content_gradient_end;//#5c89c9;
  }
  
  .popup-menu-item {
    padding: .4em 1.75em;
    //spacing: 1em;
    //border: 2px solid transparent;
    color: $popup_menu_item_color;
    &:active {
      background-color: #1466c9;
      color: white;
    }
    &:hover {
      background-gradient-direction: vertical;
      background-gradient-start: $popup_menu_item_hover_gradient_start;//#A4D07B;
      background-gradient-end: $popup_menu_item_hover_gradient_end;//#68A941;
    }
    &:insensitive {
      color: #9f9f9f;
    }
  }
  .popup-image-menu-item {
  }
  .popup-combobox-item {
    spacing: 1em;
  }
  .popup-separator-menu-item {
    background-color: white;
    height: 1px;
  }
  .popup-alternating-menu-item:alternate {
    font-weight: bold;
  }
  .popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #666666;
    -slider-border-color: #555555;
    -slider-active-background-color: $popup_slider_menu_item_color;
    -slider-active-border-color: #DDDDDD;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
  }
  .popup-device-menu-item {
    spacing: .5em;
  }
  .popup-inactive-menu-item {
    font-weight: bold;
    color: #FFF;
  }
  .popup-subtitle-menu-item {
    font-weight: bold;
  }
  .popup-menu-icon {
    icon-size: 1.14em;
  }

}