$roundness : 2px;
$entry_radius : 0px;
$button_radius : 2px;
$tab_radius : 2px;
$progressbar_radius : 3px;
$scrollbar_radius : 0px;
$csd_radius : 6px;
$view_radius: 0px;
$top_primary_stepper: true;
$bottom_primary_stepper: true;
$top_secondary_stepper: false;
$bottom_secondary_stepper: false;
$check_size: 16px;
$menu_radius : 0px;

// outline
$outline_width : 1px;
$outline_offset : -3px;
$outline_style : dashed;

//$var_button_background_image: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(235,235,235,1) 50%,rgba(221,221,221,1) 51%,rgba(174,174,174,1) 100%);
//$var_button_border: 1px solid gtkmix(gtkshade($br, 0.3), $selected_bg_color, 0.25);