$calendar_applet_color: white;
$grouped_window_list_fg: white;
$grouped_window_list_focus_fg: white;
$menu_applet_color: white;
$menu_application_button_fg: white;
$menu_application_button_selected_bg: #bebebe;
$menu_application_button_selected_fg: black;
$menu_applications_box_bg: #666666;
$menu_applications_inner_box_bg: #666666;
$menu_applications_inner_box_border: #464646;
$menu_applications_inner_box_popup_menu_item_fg: white;
$menu_applications_inner_box_popup_menu_item_hover_bg: #bebebe;
$menu_applications_inner_box_popup_menu_item_hover_fg: black;
$menu_categories_box_border: #464646;
$menu_category_button_fg: white;
$menu_category_button_selected_bg: #bebebe;
$menu_category_button_selected_fg: black;
$menu_favorites_button_hover_bg: #bebebe;
$menu_favourites_box_bg: #2f2f2f;
$menu_favourites_box_border: #464646;
$menu_selected_app_box_bg: #2f2f2f;
$menu_selected_app_box_border: #464646;
$menu_selected_app_box_fg: white;
$panel_center_color: white;
$panel_color_fg: black;
$panel_launcher_border_color: rgba(184, 75, 8, 0.7);
$panel_launcher_gradient_end: rgba(215, 106, 39, 0.5);
$panel_launcher_gradient_start: rgba(255, 181, 134, 0.2);
$panel_left_color: white;
$panel_right_color: white;
$popup_inactive_menu_item_fg: white;
$popup_menu_content_bg: #666666;
$popup_menu_content_border: #464646;
$popup_menu_context_fg: white;
$popup_menu_item_fg: #FFF;
$popup_menu_item_hover_bg: #bebebe;
$popup_menu_item_hover_fg: black;
$popup_separator_menu_item_bg: #464646;
$popup_slider_menu_item_color: #68A941;
$popup_sub_menu_color: #b24502;
$popup_submenu_menu_item_open_bg: #bebebe;
$popup_submenu_menu_item_open_fg: black;
$sound_player_overlay_bg: #1c1c1c;
$sound_player_overlay_fg: white;