$calendar_applet_color: white;
$grouped_window_list_fg: white;
$grouped_window_list_focus_fg: white;
$menu_applet_color: white;
$menu_application_button_fg: black;
$menu_application_button_selected_bg: #316ac5;
$menu_application_button_selected_fg: white;
$menu_applications_box_bg: white;
$menu_applications_inner_box_bg: white;
$menu_applications_inner_box_border: #95bdee;
$menu_applications_inner_box_popup_menu_item_fg: black;
$menu_applications_inner_box_popup_menu_item_hover_bg: #316ac5;
$menu_applications_inner_box_popup_menu_item_hover_fg: white;
$menu_categories_box_border: #95bdee;
$menu_category_button_fg: black;
$menu_category_button_selected_bg: #316ac5;
$menu_category_button_selected_fg: white;
$menu_favorites_button_hover_bg: #316ac5;
$menu_favourites_box_bg: #D3E5FA;
$menu_favourites_box_border: #95bdee;
$menu_selected_app_box_bg: #D3E5FA;
$menu_selected_app_box_border: #95bdee;
$menu_selected_app_box_fg: black;
$panel_center_color: white;
$panel_color_fg: black;
$panel_launcher_border_color: rgba(51, 255, 0, 0.5);
$panel_launcher_gradient_end: rgba(21, 255, 0, 0.2);
$panel_launcher_gradient_start: rgba(0, 225, 255, 0);
$panel_left_color: white;
$panel_right_color: white;
$popup_inactive_menu_item_fg: black;
$popup_menu_content_bg: #D3E5FA;
$popup_menu_content_border: #95bdee;
$popup_menu_context_fg: black;
$popup_menu_item_fg: black;
$popup_menu_item_hover_bg: #316ac5;
$popup_menu_item_hover_fg: white;
$popup_separator_menu_item_bg: #95bdee;
$popup_slider_menu_item_color: #68A941;
$popup_sub_menu_color: #A4D07B;
$popup_submenu_menu_item_open_bg: #316ac5;
$popup_submenu_menu_item_open_fg: white;
$sound_player_overlay_bg: #1290e9;
$sound_player_overlay_fg: white;

$calendar_events_main_box_border: #95bdee;
$calendar_events_main_box_bg: #fff4bc;
$calendar_events_main_box_fg: black;
$calendar_event_button_bg: white;
$calendar_event_button_border: black;
$calendar_event_button_fg: black;
$calendar_event_time_present_fg: black;
$calendar_event_summary_fg: black;
$calendar_event_countdown_current_fg: green;
$calendar_event_countdown_soon_fg: firebrick;
$calendar_event_countdown_imminent_fg: red;
$calendar_event_countdown_fg: black;
$calendar_event_time_past_fg: grey;
$calendar_event_time_future_fg: black;
$calendar_week_number_fg: black;
$calendar_bg: white;
$calendar_fg: black;
$calendar_border: #95bdee;
$calendar_day_base_fg: black;
$calendar_day_base_bg: transparent;
$calendar_day_base_hover_fg: white;
$calendar_day_base_hover_bg: #316ac5;
$calendar_today_outline: red;
$calendar_not_today_selected_outline: grey;
$calendar_not_today_selected_fg: white;
$calendar_not_today_selected_bg: #316ac5;
$calendar_today_selected_fg: white;
$calendar_today_selected_bg: #316ac5;
$calendar_other_month_day_border: rgba(80, 80, 80, 0.10);
$calendar_other_month_day_fg: grey;
$calendar_today_border: red;
$calendar_nonwork_day_bg: rgba(128, 128, 128, 0.2);
$calendar_day_border: rgba(90, 90, 90, 0.30);
$calendar_today_home_button_fg: black;