$panel_color_fg: black;
$panel_left_color: white;
$panel_center_color: white;
$panel_right_color: white;
$menu_applet_color: white;
$calendar_applet_color: white;
$grouped_window_list_fg: white;
$grouped_window_list_focus_fg: white;
$panel_launcher_gradient_start: rgba(0, 225, 255, 0);
$panel_launcher_gradient_end: rgba(21, 255, 0, 0.2);
$panel_launcher_border_color: rgba(51, 255, 0, 0.5);
$popup_menu_item_fg: black;
$popup_menu_content_border: #95bdee;
$popup_menu_content_bg: #D3E5FA;
$popup-menu-item-hover-bg: #316ac5;
$popup-menu-item-hover-fg: white;
$popup_slider_menu_item_color: #68A941;
$popup_submenu_menu_item_open_bg: #316ac5;
$popup_submenu_menu_item_open_fg: white;
$popup_sub_menu_color: #A4D07B;
$popup_separator_menu_item_bg: #95bdee;

$menu_favourites_box_bg: #D3E5FA;
$menu_favourites_box_border: #95bdee;
$menu_applications_box_bg: white;
$menu_applications_inner_box_bg: white;
$menu_applications_inner_box_border: #95bdee;
$menu_selected_app_box_bg: #D3E5FA;
$menu_selected_app_box_fg: black;
$menu_selected_app_box_border: #95bdee;
$menu_categories_box_border: #95bdee;
$menu_category_button_fg: black;
$menu-application-button-fg: black;
$menu-applications-inner-box-popup-menu-item-fg: black;
$menu-applications-inner-box-popup-menu-item-hover-fg: white;
$menu-applications-inner-box-popup-menu-item-hover-bg: #316ac5;
$menu_category_button_selected_bg: #316ac5;
$menu_application_button_selected_bg: #316ac5;
$menu_favorites_button_hover_bg: #316ac5;
$menu_category_button_selected_fg: white;
$menu_application_button_selected_fg: white;
$sound_player_overlay_bg: #1290e9;
$sound_player_overlay_fg: white;
$popup_menu_context_fg: white;
$popup_inactive_menu_item_fg: white;