@mixin frame() {
  .frame, frame > border {
    border-width: 2px;
    border-style: groove;
    border-color: $borders;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }

  frame.flat > border, frame > border.flat, .frame.flat {
   border-style: none;
  }
}
