@mixin menubar() {
  menubar, .menubar {
    -GtkWidget-window-dragging: true;
    padding: 0;
    border-style: none;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;

    border-top: 1px solid $bar_top_border;//#ffffff;
    border-bottom: 1px solid $bar_bottom_border;//#d8d2bd;

    padding: 0px 2px 1px 2px;
    //box-shadow: inset 1px -0.5px 2px -1px rgba(80.8,80.8,76.5,0.20);
    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }
  }
}
