@mixin toolbar() {
  toolbar {
    padding: 4px;

    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;

    border-top: 1px solid $bar_top_border;//#ffffff;
    border-bottom: 1px solid $bar_bottom_border;//#d8d2bd;

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: $disabled_bg_color;
    }

    button.flat {
      @include flat_buttons($toolbar_bg_color, $toolbar_fg_color, $borders);
    }

    // menubar toolbars 
    menubar {
      -GtkToolbar-button-relief: normal;
    }
  }
}
