$calendar_applet_color: black;
$grouped_window_list_fg: black;
$grouped_window_list_focus_fg: white;
$menu_applet_color: white;
$menu_application_button_fg: black;
$menu_application_button_selected_bg: #bbb7c7;
$menu_application_button_selected_fg: black;
$menu_applications_box_bg: white;
$menu_applications_inner_box_bg: white;
$menu_applications_inner_box_border: #b4bdc7;
$menu_applications_inner_box_popup_menu_item_fg: black;
$menu_applications_inner_box_popup_menu_item_hover_bg: #bbb7c7;
$menu_applications_inner_box_popup_menu_item_hover_fg: black;
$menu_categories_box_border: #b4bdc7;
$menu_category_button_fg: black;
$menu_category_button_selected_bg: #bbb7c7;
$menu_category_button_selected_fg: black;
$menu_favorites_button_hover_bg: #bbb7c7;
$menu_favourites_box_bg: #e2e7eb;
$menu_favourites_box_border: #6b6e73;
$menu_selected_app_box_bg: #e2e7eb;
$menu_selected_app_box_border: #6b6e73;
$menu_selected_app_box_fg: #0a246a;
$panel_center_color: white;
$panel_color_fg: black;
$panel_launcher_border_color: rgba(36, 142, 39, 0.7);
$panel_launcher_gradient_end: rgba(92, 161, 76, 0.5);
$panel_launcher_gradient_start: rgba(226, 235, 222, 0.2);
$panel_left_color: white;
$panel_right_color: white;
$popup_inactive_menu_item_fg: #0a246a;
$popup_menu_content_bg: #e2e7eb;
$popup_menu_content_border: #6b6e73;
$popup_menu_context_fg: #0a246a;
$popup_menu_item_fg: #0a246a;
$popup_menu_item_hover_bg: #bbb7c7;
$popup_menu_item_hover_fg: black;
$popup_separator_menu_item_bg: #6b6e73;
$popup_slider_menu_item_color: #68A941;
$popup_sub_menu_color: #397dd0;
$popup_submenu_menu_item_open_bg: #bbb7c7;
$popup_submenu_menu_item_open_fg: black;
$sound_player_overlay_bg: #cbccda;
$sound_player_overlay_fg: #0a246a;