$panel_color_fg: black;
$panel_left_color: white;
$panel_center_color: white;
$panel_right_color: black;
$menu_applet_color: white;
$calendar_applet_color: black;
$grouped_window_list_fg: white;
$grouped_window_list_focus_fg: white;
$panel_launcher_gradient_start: rgba(132, 196, 141, 0.2);
$panel_launcher_gradient_end: rgba(15, 147, 23, 0.5);
$panel_launcher_border_color: rgba(18, 108, 64, 0.7);
$popup_menu_content_gradient_start: #397dd0;
$popup_menu_content_gradient_end: #2c55b1;
$popup_menu_item_color: #FFF;
$popup_menu_content_border_color: #FFF;
$popup_menu_item_hover_gradient_start: #A4D07B;
$popup_menu_item_hover_gradient_end: #68A941;
$popup_slider_menu_item_color: #68A941;
$popup_submenu_menu_item_open: #68A941;
$popup_sub_menu_color: #A4D07B;

$menu_favourites_box_bg: #10377c;
$menu_favourites_box_border: #305496;
$menu_applications_box_bg: #5373bf;
$menu_applications_inner_box_bg: #5373bf;
$menu_applications_inner_box_border: #95bdee;
$menu_selected_app_box_bg: #10377c;
$menu_selected_app_box_fg: white;
$menu_selected_app_box_border: #4567a4;
$menu_category_button_fg: white;
$menu-application-button-fg: white;
$menu_categories_box_border: #95bdee;
$menu-applications-inner-box-popup-menu-item-fg: white;
$menu-applications-inner-box-popup-menu-item-hover-fg: white;
$menu-applications-inner-box-popup-menu-item-hover-bg: #335ea8;
$menu_category_button_selected_bg: #335ea8;
$menu_application_button_selected_bg: #335ea8;
$menu_favorites_button_hover_bg: #335ea8;
$menu_category_button_selected_fg: white;
$menu_application_button_selected_fg: white;