$panel_color_fg: black;
$panel_left_color: white;
$panel_center_color: white;
$panel_right_color: black;
$menu_applet_color: white;
$calendar_applet_color: black;
$grouped_window_list_fg: white;
$grouped_window_list_focus_fg: white;