$panel_color_fg: black;
$panel_left_color: black;
$panel_center_color: black;
$panel_right_color: white;
$menu_applet_color: white;
$calendar_applet_color: black;
$grouped_window_list_fg: black;
$grouped_window_list_focus_fg: white;
$panel_launcher_gradient_start: rgba(231, 235, 178, 0.2);
$panel_launcher_gradient_end: rgba(60, 109, 42, 0.5);
$panel_launcher_border_color: rgba(32, 69, 22, 0.7);
$popup_menu_item_fg: #545f38;
$popup_menu_content_border: #7f865f;
$popup_menu_content_bg: #f2f2e4;
$popup-menu-item-hover-bg: #93a070;
$popup-menu-item-hover-fg: white;
$popup_slider_menu_item_color: #68A941;
$popup_submenu_menu_item_open_bg: #93a070;
$popup_submenu_menu_item_open_fg: white;
$popup_sub_menu_color: #397dd0;
$popup_separator_menu_item_bg: #7f865f;

$menu_favourites_box_bg: #f2f2e4;
$menu_favourites_box_border: #7f865f;
$menu_applications_box_bg: white;
$menu_applications_inner_box_bg: white;
$menu_applications_inner_box_border: #cca467;
$menu_selected_app_box_bg: #f2f2e4;
$menu_selected_app_box_fg: #545f38;
$menu_category_button_fg: #373738;
$menu-application-button-fg: #373738;
$menu_selected_app_box_border: #7f865f;
$menu_categories_box_border: #cca467;
$menu-applications-inner-box-popup-menu-item-fg: #373738;
$menu-applications-inner-box-popup-menu-item-hover-fg: white;
$menu-applications-inner-box-popup-menu-item-hover-bg: #93a070;
$menu_category_button_selected_bg: #93a070;
$menu_application_button_selected_bg: #93a070;
$menu_favorites_button_hover_bg: #93a070;
$menu_category_button_selected_fg: white;
$menu_application_button_selected_fg: white;