@mixin desklet() {
      /* ===================================================================
  * Desklets (desklet.js)
  * ===================================================================*/
  .desklet {
    color: #eee;
  }
  
  .desklet-with-borders {
    border: 1px solid #444;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;
    color: #eee;
  }
  
  .desklet-with-borders-and-header {
    border: 1px solid #444;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    color: #eee;
    border-radius-bottomleft: 0px;
    border-radius-bottomright: 0px;
  }
  
  .desklet-header {
    border-radius-topleft: 0px;
    border-radius-topright: 0px;
    font-size: 10.5pt;
  
    border: 1px solid #444;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;
    color: #eee;
    padding: 6px;
  }
  
  .desklet-drag-placeholder {
      background-color: solid rgba(0, 51, 153, 0.8);
  }
  
  
  .clock-desklet-label {
  }
  
  .photoframe-box {
    padding: 6px;
    border: 1px solid #444;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;
  
  }
  .xkcd-box {
    padding: 0px;
    border: none;
    background-color: none;
    border-radius: 0px;
  }
}