@mixin numa() {
      /* ===================================================================
  * Network Data Usage Monitor applet
  * ===================================================================*/
  
  /* These settings govern the width of the Applet and the space taken by the font.*/
  
  .numa-left {
    text-align: center;
    min-width: 75px;
    font-weight: bold;
    /*font-size: 95%;*/
  }
  
  .numa-right {
    text-align: center;
    min-width: 1px;
    font-weight: bold;
    /*font-size: 95%;*/
  }
  
  /* The following are the styles for the Applet backgrounds - names are self explanitory
  The colour parameters are red, green, blue, and transparency or a name */
  
  .numa-not-connected {
    background-color: rgba(0,0,0,0.0);
    border-radius: 10px;
  }
  
  .numa-connected {
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
  }
  
  .numa-alert {
    color: #fff;
    border-top: 3px;
    border-bottom: 0px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(57,156,238,0.1);
    background-gradient-start: rgba(57,156,238,0.1);
    border-radius: 0px;
  }
  
  .numa-limit-exceeded {
    color: #fff;
    border-top: 3px;
    border-bottom: 0px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(57,156,238,0.1);
    background-gradient-start: rgba(57,156,238,0.1);
    border-radius: 0px;
  }
}