$panel_color_fg: black;
$panel_left_color: white;
$panel_center_color: white;
$panel_right_color: black;
$menu_applet_color: white;
$calendar_applet_color: white;
$grouped_window_list_fg: white;
$grouped_window_list_focus_fg: white;
$panel_launcher_gradient_start: rgba(31, 47, 73, 0.2);
$panel_launcher_gradient_end: rgba(13, 19, 29, 0.5);
$panel_launcher_border_color: rgba(15, 24, 42, 0.7);
$popup_menu_content_gradient_start: #66737c;
$popup_menu_content_gradient_end: #293344;
$popup_menu_item_color: #FFF;
$popup_menu_content_border_color: #FFF;
$popup_menu_item_hover_gradient_start: #1b2b44;
$popup_menu_item_hover_gradient_end: #2d3d50;
$popup_slider_menu_item_color: #68A941;
$popup_submenu_menu_item_open: #1b2b44;
$popup_sub_menu_color: #2d3d50;

$menu_favourites_box_bg: #353f4d;
$menu_favourites_box_border: #4f5765;
$menu_applications_box_bg: #5a606f;
$menu_applications_inner_box_bg: #5a606f;
$menu_applications_inner_box_border: #4b515e;
$menu_selected_app_box_bg: #353f4d;
$menu_selected_app_box_fg: white;
$menu_category_button_fg: white;
$menu-application-button-fg: white;
$menu_selected_app_box_border: #4f5765;
$menu_categories_box_border: #4b515e;
$menu-applications-inner-box-popup-menu-item-fg: white;
$menu-applications-inner-box-popup-menu-item-hover-fg: white;
$menu-applications-inner-box-popup-menu-item-hover-bg: #5e81bc;
$menu_category_button_selected_bg: #5e81bc;
$menu_application_button_selected_bg: #5e81bc;
$menu_favorites_button_hover_bg: #5e81bc;
$menu_category_button_selected_fg: white;
$menu_application_button_selected_fg: white;