$calendar_applet_color: white;
$grouped_window_list_fg: white;
$grouped_window_list_focus_fg: white;
$menu_applet_color: white;
$menu_application_button_fg: white;
$menu_application_button_selected_bg: #5e81bc;
$menu_application_button_selected_fg: white;
$menu_applications_box_bg: #5a606f;
$menu_applications_inner_box_bg: #5a606f;
$menu_applications_inner_box_border: #4b515e;
$menu_applications_inner_box_popup_menu_item_fg: white;
$menu_applications_inner_box_popup_menu_item_hover_bg: #5e81bc;
$menu_applications_inner_box_popup_menu_item_hover_fg: white;
$menu_categories_box_border: #4b515e;
$menu_category_button_fg: white;
$menu_category_button_selected_bg: #5e81bc;
$menu_category_button_selected_fg: white;
$menu_favorites_button_hover_bg: #5e81bc;
$menu_favourites_box_bg: #353f4d;
$menu_favourites_box_border: #4f5765;
$menu_selected_app_box_bg: #353f4d;
$menu_selected_app_box_border: #4f5765;
$menu_selected_app_box_fg: white;
$panel_center_color: white;
$panel_color_fg: black;
$panel_launcher_border_color: rgba(15, 24, 42, 0.7);
$panel_launcher_gradient_end: rgba(13, 19, 29, 0.5);
$panel_launcher_gradient_start: rgba(31, 47, 73, 0.2);
$panel_left_color: white;
$panel_right_color: black;
$popup_inactive_menu_item_fg: white;
$popup_menu_content_bg: #5a606f;
$popup_menu_content_border: #353f4d;
$popup_menu_context_fg: white;
$popup_menu_item_fg: #FFF;
$popup_menu_item_hover_bg: #5e81bc;
$popup_menu_item_hover_fg: white;
$popup_separator_menu_item_bg: #4f5765;
$popup_slider_menu_item_color: #68A941;
$popup_sub_menu_color: #2d3d50;
$popup_submenu_menu_item_open_bg: #5e81bc;
$popup_submenu_menu_item_open_fg: white;
$sound_player_overlay_bg: #040a17;
$sound_player_overlay_fg: white;